# SPDX-FileCopyrightText: 2023 Eyad Issa <eyadlorenzo@gmail.com>
# SPDX-FileCopyrightText: 2024 Alice Benatti <alice17bee@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[submodule "src/config"]
	path = src/config
	url = https://github.com/cartabinaria/config.git
