# SPDX-FileCopyrightText: 2023 - 2024 Eyad Issa <eyadlorenzo@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: CI

permissions:
  contents: read

on:
  pull_request:
    branches: [main]

  push:
    branches: [main]

env:
  NODE_VERSION: 20

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository recursively
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - uses: actions/setup-node@v5
        with:
          cache: pnpm
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: pnpm install

      - name: Run lint
        run: pnpm run lint
        if: always()

      - name: Run check
        run: pnpm run check
        # always run lint
        if: always()
